.container-fluid {
    background-color: rgb(209, 201, 201);
    width: 90%;
    border: 2px solid red;
    margin-top: 10px;
}

.row {
    margin: 10px;
}

.card {
    margin-top: 10px;
}

.dashed {
    width: 50%;
}
.card-img-top{
    margin :20px
}