.container-fluid {
    background-color: rgb(209, 201, 201);       
}




.dashed {
    width: 50%;
}
.card-img-top{
    margin :10px
}

@media (max-width: 768px) {
    .navbar{
        display: none;
    }
    
    }