.container-fluid {
    background-color: rgb(245, 241, 241);         
}
.dashed {
    width: 50%;
}

.card-title{
    font-family: 'Montserrat', sans-serif;    
}
p{
    font-family: 'Lato', sans-serif;    
}
body {
    display: grid;
    height: 100vh;
    margin: 0;
    place-items: center center;
  }

  
@media (max-width: 754px) {
    .navbar{
        display: none;
    }
    
    }